.add-heading {
    margin-bottom: 30px;
    font-size: 8vw;
}

.add-subheading {
    color: #607D8B;
    font-size: 3vw;
    margin-top: 20px;
    margin-bottom: 15px;
}

form {
    width: 100%;
    margin-top: 0;
}

.input-group {
    width: 100%;
    margin: 15px auto;
}

.input-group label {
    font-size: 3vw;
    margin-bottom: 20px;
}

.input-group input {
    display: block;
    width: 40%;
    margin-bottom: 40px;
}

.add-field {
    padding: 5px;
    width: 80%;
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
}

.add-btn {
    margin: 20px auto !important;
    display: block !important;
    width: 45% !important;
    background-color: #607D8B;
}

.add-btn button {
    font-size: 30px !important;
}

.delete-word {
    font-weight: bolder;
    color: #FF0000;
    padding-right: 30px;
    cursor: pointer;
}

.word-list {
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.scrollbar {
    height: auto;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: scroll;
    min-width: 135px;
    margin-top: 0px;
}

.new-word {
    font-size: 2vw;
    font-weight: bold;
}

.stick-figure-add {
    position: fixed;
    right: 15px;
    bottom: 8px;
}

.stick-figure-add img {
    height: 40vh;
    opacity: .9;
}

.stick-figure-add .thought-bubble {
    font-size: 4vh;
    margin-bottom: 10px;
}

/* ===== RESPONSIVE STYLES ===== */

@media (max-width: 978px) {
    .add-heading {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 15vw;
    }

    .add-subheading {
        font-size: 8vw;
    }

    .add-field {
        font-size: 24px;
    }

    .new-word {
        font-size: 26px;
        font-weight: bold;
    }

    .add-btn {
        display: inline-block;
        margin: 20px;
        width: 18vw;
    }

    .add-btn button {
        font-size: 18px;
    }
}
