/*
$orange:    #FF5722;
$slate:     #9E9E9E;
$blue-gray: #607D8B;
$black:     #000000;
$white:     #F5F5F5;
*/

html {
    /* Background pattern from subtlepatterns.com */
    font-family: Amatic SC;
    font-weight: bold;
    margin: 0;
}

body {
    background: url('../img/lined_paper.png');
    font-family: Amatic SC;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 20px;
}

.disabled {
    pointer-events: none;
    background-color: #607D8B;
}

.button-area {
    width: 15vw;
    display: inline-block;
    margin: 30px 15px;
    background-color: #FF5722;
    text-align: center;
}

.button-area button {
    width: 100%;
    padding: 8px;
    background-color: transparent;
    border-radius: 0;
    border: none;
    color: #F5F5F5;
    font-size: 2.5vw;
    letter-spacing: 1px;
    cursor: pointer;
}

.secondary-btn {
    background-color: #607D8B !important;
}

.back-button {
    background-color: transparent !important;
    display: inline-block;
    text-align: center;
}

.back-button button {
    background-color: transparent;
    color: #000000;
    font-size: 5vh;
    font-weight: 600;
    border-radius: 0;
    border: none;
}

.button-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* ===== INTRO SCREEN STYLES ===== */

.stick-figure {
    position: fixed;
    bottom: 2px;
    padding-left: 80px;
    padding-bottom: 30px;
}

.stick-figure img {
    height: 60vh;
    opacity: .9;
}

.thought-bubble {
    font-size: 8vh;
}

.title-area {
    padding-top: 1vh;
}

.title {
    font-size: 14vw;
}


/* ===== RESPONSIVE STYLES ===== */

@media (max-width: 978px) {
    body {
        padding: 0;
    }

    .title {
        font-size: 25vw;
    }

    .button-area {
        width: 45%;
        margin: 15px auto;
        display: block;
    }

    .button-area button {
        display: inline-block;
        font-size: 5vw;
    }
}
